body {
    color: pink;
    background-color: #32365c;
    padding-top: 60px;
    font-family: "Poppins", "Prompt", Arial;
    font-weight: normal;
    text-align: center;
}

button {
    font-family: "Poppins", "Prompt", Arial;
    font-weight: bold;
    text-align: center;
}

.width_normal {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.width_small {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.topic {
    font-size: 50px;
    font-weight: bold;
}

.mid_topic {
    font-size: 30px;
    font-weight: bold;
}

.small_topic {
    font-size: 20px;
    font-weight: bold;
}

.text_highlight {
    color: coral;
}