body {
    background-color: #32365c;
    height: 3000px;
    padding-top: 60px;
}

div {
    font-family: "Poppins", Arial;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

p,
h2 {
    color: pink;
    text-align: center;
}

.topic {
    font-size: 50px;
    font-weight: bold;
}

.text_highlight {
    color: coral;
}