.menu {
    text-align: center;
    flex: 1;
}

.menu_selected {
    text-align: center;
    font-weight: bold;
    flex: 1;
}

.logo {
    /*Change this to a <img> later*/
    text-align: center;
    flex: 0.5;
}

.navigation_bar {
    background-color: pink;
    align-items: center;
    height: 75px;
    position: fixed;
    top: 25px;
    left: 25px;
    right: 25px;
    border-color: rgb(237, 118, 118);
    /* border-style: solid; */
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.header_link {
    color: #32365c;
    font-size: 25px;
    text-decoration: none;
}
