.menu,
.account_menu,
.menu_selected,
.account_menu_selected {
    color: #32365c;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin-left: 30px;
}

.menu_selected,
.account_menu_selected {
    font-weight: bold;
}

.account_menu,
.account_menu_selected {
    position: absolute;
    right: 30px;
}

.logo {
    /*Change this to a <img> later*/
    text-align: center;
    width: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.navigation_bar {
    background-color: pink;
    align-items: center;
    position: absolute;
    height: 40px;
    top: 30px;
    left: 25px;
    right: 25px;
    border-color: rgb(237, 118, 118);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
}
