.problems {
    width: 750;
}

.problems_box {
    background-color: pink;
    align-items: center;
    position: absolute;
    height: 100px;
    top: 250px;
    left: 50px;
    right: 50px;
    margin-left: 50;
    border-color: rgb(237, 118, 118);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.problems_menu_box {
    background-color: #32365c;
    align-items: center;
    position: absolute;
    height: 40px;
    top: 10px;
    left: 50px;
    right: 50px;
    margin-left: 50;
    border-color: rgb(237, 118, 118);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.problems_menu,
.problems_menu_selected {
    color: pink;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    margin-left: 30px;
    border: none;
    padding: 0;
    background: none;
}

.problems_menu_selected {
    font-weight: bold;
}